/*@font-face {	
	font-family: 'Tarentula';	
	src: url('tarentula.ttf') format('truetype');
}*/

body {
    margin: 0;
    overflow: hidden;
}
canvas {
    position: absolute;
}
#input-box {                        
    text-align: center;            
    min-height: 1px;
    position: absolute;            
    z-index: 99;            
}
input {         
    text-align: center;
    width: 50%;
    height: 100%;
}